* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #202020;
}

html {
  font-size: 62.5%;
  font-family: "urbanist";
}
.form-control {
  background-color: #191b1e;
  border-radius: 6px !important;
  /* height: 55px; */
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset !important;
  border: 2px solid #191b1e !important;
  padding: 10px 15px;
  font-size: 18px;
  margin-bottom: 0;
  color: #c4cfde;
  font-weight: 400;
  transition: 0.4s all !important;
  line-height: 29px !important;
}
.btn-contact-form {
  color: #ff014e !important;
  background: linear-gradient(145deg, #1e2024, #23272b) !important;
  min-width: 70px;
  min-height: 57px;
  padding: 18px 40px;
  border-radius: 6px !important;
  font-weight: 500;
  line-height: 1.3 !important;
  /* box-shadow: linear-gradient(71deg, #080509, #1a171c, #080509) !important; */
  box-shadow: 10px 10px 19px 71deg, -10px -10px 19px #1a171c !important;
  transform-style: preserve-3d;
  position: relative;
  transition: 0.4s all !important;
  border: none !important;
  align-items: baseline;
}
body {
  background-color: black;
  /* background-color: #212428;
  background: rgba(33, 36, 40, 0.9); */
}
.star {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px #fff, 25vw -41vh 0px 0px #fff,
    -20vw 49vh 0px 1px #fff, 5vw 40vh 1px 1px #fff, 29vw 19vh 1px 0px #fff,
    -44vw -13vh 0px 0px #fff, 46vw 41vh 0px 1px #fff, -3vw -45vh 0px 1px #fff,
    47vw 35vh 1px 0px #fff, 12vw -8vh 1px 0px #fff, -34vw 48vh 1px 1px #fff,
    32vw 26vh 1px 1px #fff, 32vw -41vh 1px 1px #fff, 0vw 37vh 1px 1px #fff,
    34vw -26vh 1px 0px #fff, -14vw -49vh 1px 0px #fff, -12vw 45vh 0px 1px #fff,
    -44vw -33vh 0px 1px #fff, -13vw 41vh 0px 0px #fff, -36vw -11vh 0px 1px #fff,
    -23vw -24vh 1px 0px #fff, -38vw -27vh 0px 1px #fff, 16vw -19vh 0px 0px #fff,
    28vw 33vh 1px 0px #fff, -49vw -4vh 0px 0px #fff, 16vw 32vh 0px 1px #fff,
    36vw -18vh 1px 0px #fff, -25vw -30vh 1px 0px #fff, -23vw 24vh 0px 1px #fff,
    -2vw -35vh 1px 1px #fff, -25vw 9vh 0px 0px #fff, -15vw -34vh 0px 0px #fff,
    -8vw -19vh 1px 0px #fff, -20vw -20vh 1px 1px #fff, 42vw 50vh 0px 1px #fff,
    -32vw 10vh 1px 0px #fff, -23vw -17vh 0px 0px #fff, 44vw 15vh 1px 0px #fff,
    -40vw 33vh 1px 1px #fff, -43vw 8vh 0px 0px #fff, -48vw -15vh 1px 1px #fff,
    -24vw 17vh 0px 0px #fff, -31vw 50vh 1px 0px #fff, 36vw -38vh 0px 1px #fff,
    -7vw 48vh 0px 0px #fff, 15vw -32vh 0px 0px #fff, 29vw -41vh 0px 0px #fff,
    2vw 37vh 1px 0px #fff, 7vw -40vh 1px 1px #fff, 15vw 18vh 0px 0px #fff,
    25vw -13vh 1px 1px #fff, -46vw -12vh 1px 1px #fff, -18vw 22vh 0px 0px #fff,
    23vw -9vh 1px 0px #fff, 50vw 12vh 0px 1px #fff, 45vw 2vh 0px 0px #fff,
    14vw -48vh 1px 0px #fff, 23vw 43vh 0px 1px #fff, -40vw 16vh 1px 1px #fff,
    20vw -31vh 0px 1px #fff, -17vw 44vh 1px 1px #fff, 18vw -45vh 0px 0px #fff,
    33vw -6vh 0px 0px #fff, 0vw 7vh 0px 1px #fff, -10vw -18vh 0px 1px #fff,
    -19vw 5vh 1px 0px #fff, 1vw 42vh 0px 0px #fff, 22vw 48vh 0px 1px #fff,
    39vw -8vh 1px 1px #fff, -6vw -42vh 1px 0px #fff, -47vw 34vh 0px 0px #fff,
    -46vw 19vh 0px 1px #fff, -12vw -32vh 0px 0px #fff, -45vw -38vh 0px 1px #fff,
    -28vw 18vh 1px 0px #fff, -38vw -46vh 1px 1px #fff, 49vw -6vh 1px 1px #fff,
    -28vw 18vh 1px 1px #fff, 10vw -24vh 0px 1px #fff, -5vw -11vh 1px 1px #fff,
    33vw -8vh 1px 0px #fff, -16vw 17vh 0px 0px #fff, 18vw 27vh 0px 1px #fff,
    -8vw -10vh 1px 1px #fff;
  box-shadow: 24vw 9vh 1px 0px #fff, 12vw -24vh 0px 1px #fff,
    -45vw -22vh 0px 0px #fff, -37vw -40vh 0px 1px #fff, 29vw 19vh 0px 1px #fff,
    4vw -8vh 0px 1px #fff, -5vw 21vh 1px 1px #fff, -27vw 26vh 1px 1px #fff,
    -47vw -3vh 1px 1px #fff, -28vw -30vh 0px 1px #fff, -43vw -27vh 0px 1px #fff,
    4vw 22vh 1px 1px #fff, 36vw 23vh 0px 0px #fff, -21vw 24vh 1px 1px #fff,
    -16vw 2vh 1px 0px #fff, -16vw -6vh 0px 0px #fff, 5vw 26vh 0px 0px #fff,
    -34vw 41vh 0px 0px #fff, 1vw 42vh 1px 1px #fff, 11vw -13vh 1px 1px #fff,
    48vw -8vh 1px 0px #fff, 22vw -15vh 0px 0px #fff, 45vw 49vh 0px 0px #fff,
    43vw -27vh 1px 1px #fff, 20vw -2vh 0px 0px #fff, 8vw 22vh 0px 1px #fff,
    39vw 48vh 1px 1px #fff, -21vw -11vh 0px 1px #fff, -40vw 45vh 0px 1px #fff,
    11vw -30vh 1px 0px #fff, 26vw 30vh 1px 0px #fff, 45vw -29vh 0px 1px #fff,
    -2vw 18vh 0px 0px #fff, -29vw -45vh 1px 0px #fff, -7vw -27vh 1px 1px #fff,
    42vw 24vh 0px 0px #fff, 45vw -48vh 1px 0px #fff, -36vw -18vh 0px 0px #fff,
    -44vw 13vh 0px 1px #fff, 36vw 16vh 0px 1px #fff, 40vw 24vh 0px 0px #fff,
    18vw 11vh 0px 0px #fff, -15vw -23vh 1px 0px #fff, -24vw 48vh 0px 1px #fff,
    27vw -45vh 1px 0px #fff, -2vw -24vh 0px 1px #fff, -15vw -28vh 0px 0px #fff,
    -43vw 13vh 1px 0px #fff, 7vw 27vh 1px 0px #fff, 47vw 5vh 0px 0px #fff,
    -45vw 15vh 1px 1px #fff, -5vw -28vh 0px 1px #fff, 38vw 25vh 1px 1px #fff,
    -39vw -1vh 1px 0px #fff, 5vw 0vh 1px 0px #fff, 49vw 13vh 0px 0px #fff,
    48vw 10vh 0px 1px #fff, 19vw -28vh 0px 0px #fff, 4vw 7vh 0px 0px #fff,
    21vw 21vh 1px 1px #fff, -15vw -15vh 0px 1px #fff, -6vw -42vh 1px 0px #fff,
    -15vw 48vh 1px 1px #fff, -23vw 25vh 1px 1px #fff, -48vw 25vh 0px 1px #fff,
    -31vw -19vh 0px 1px #fff, 4vw 37vh 1px 1px #fff, -43vw 28vh 0px 0px #fff,
    3vw -25vh 0px 1px #fff, -39vw 14vh 0px 1px #fff, -40vw 31vh 0px 1px #fff,
    35vw -36vh 1px 1px #fff, 16vw 49vh 0px 0px #fff, 6vw 39vh 0px 0px #fff,
    3vw -35vh 0px 1px #fff, -44vw -2vh 1px 0px #fff, -6vw 21vh 1px 0px #fff,
    48vw 9vh 1px 1px #fff, -43vw 30vh 1px 1px #fff, 29vw -12vh 1px 1px #fff,
    -48vw 13vh 1px 0px #fff, -42vw 32vh 1px 1px #fff, 34vw 15vh 1px 1px #fff,
    29vw -37vh 1px 1px #fff, 28vw 2vh 0px 0px #fff;
  animation: zoom 16s alternate infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #000;

  &:hover {
    color: #2e86c1;
  }
}

button {
  /* display: flex; */
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  border-width: 0.1rem;
  border-style: solid;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  margin-top: 1.6rem;
}

/* Layout  */

.container {
  max-width: 120rem;
  margin: auto;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* Layout  */

header {
  height: 10rem;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 10px 10px -10px;
  background-color: #202020;
  width: 100%;

  & .container {
    height: 10rem;
  }
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  /* background-color: yellow; */
  gap: 3.2rem;
  color: #fff;

  & li a {
    color: #fff;
  }
}

.ham-menu {
  display: none;
}

/* media queries  */
@media screen and (max-width: 998px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu-mobile {
    position: absolute;
    z-index: 2;
    top: 10rem;
    left: 0;
    background-color: #0d1212;
    width: 100%;
    box-shadow: rgba(255, 252, 252, 0.25) 0px 14px 28px;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    & li:first-child {
      margin-top: 1.2rem;
    }

    & li:last-child {
      margin-bottom: 1.2rem;
    }
  }
}

/* hero section  */

.hero-section .container {
  padding: 3.2rem;
  margin: 9rem auto;
  gap: 6.4rem;
}

.paragraph {
  margin: 3.2rem 0;
}

.heading-xl {
  font-family: inherit;
  font-size: clamp(5.2rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .banner-image {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .hero-content {
    order: 1;
  }

  .container .banner-image {
    width: 80%;
    order: 0;
  }
}

/* About Section  */

.section-about {
  margin: 0 auto 9rem auto;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 55rem;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  /* background-color: #212428; */
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  max-width: 470px;
}

/* footer CSS  */

.footer-contact {
  height: 10rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;

  & .icon {
    color: #3a4ed5;
    font-size: 3.6rem;

    & .icon:nth-child(2) {
      rotate: 90deg;
    }
  }
}

.footer-contact-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  & p {
    font-size: 1.5rem;
    color: #757575;
  }

  & p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
  }
}

.footer-menu {
  & ul {
    display: flex;
    justify-content: end;
  }
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #3a4ed5;
  margin-left: 0.6rem;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #3a4ed5;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* --------------- 
country Card 
------------------ */

.country-card {
  margin-top: 3.2rem;
  z-index: 1;
}
.country-section {
  margin: 6.4rem auto 9.6rem auto;
  & .grid {
    gap: 3.2rem;
    max-width: 132rem;
    margin: auto;
  }

  & img {
    width: 100%;
    max-width: 50rem;
    height: 16rem;
  }
}

/* indivisual card container  */
.country-details-card {
  max-width: 80%;
  margin: 6.4rem auto;
  box-shadow: rgba(168, 163, 184, 0.15) 0px 48px 100px 0px;

  & .container-card {
    & .grid {
      align-items: center;
    }

    & img {
      width: 100%;
      max-width: 30rem;
      margin-bottom: 0;
      height: auto;
      justify-self: center;
      align-items: center;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 48px 100px 0px;
    }
  }

  & .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & .country-card-backBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

/* .section-searchFilter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;

  & .container-card {
    padding: 0.8rem 2.4rem;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
  }

  & input {
    font-family: "urbanist";
    font-size: 1.55rem;
    font-weight: bold;
    padding: 0.6rem 2.4rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    color: rgba(255, 255, 255, 0.8);
    border: 0.05rem solid #fff;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
  }

  & .select-section {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    color: rgba(255, 255, 255, 0.8);
    padding: 0.6rem 2.4rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    font-family: "urbanist";
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: capitalize;

    & option {
      background: linear-gradient(71deg, #080509, #1a171c, #080509);
      color: rgba(255, 255, 255, 0.8);
      padding: 0.6rem 2.4rem;
      border-radius: 5rem;
    }
  }

  & .select-section > option {
    background-color: #080509;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.6rem 2.4rem;
    border-radius: 5rem;
    margin-top: 1rem;
  }
} */
.section-searchFilter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3.2rem;

  & .container-card {
    padding: 0.8rem 2.4rem;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
  }

  & input {
    font-family: "urbanist";
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.6rem 2.4rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    border-radius: 1rem;
    color: rgba(255, 255, 255, 0.8);
    border: 0.05rem solid #fff;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    width: 100%;
    /* max-width: 350px; */
  }

  & .select-section {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    color: rgba(255, 255, 255, 0.8);
    padding: 0.6rem 2.4rem;
    border-radius: 5rem;
    font-family: "urbanist";
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    width: 100%;
    max-width: 200px;

    & option {
      background: linear-gradient(71deg, #080509, #1a171c, #080509);
      color: rgba(255, 255, 255, 0.8);
      padding: 0.6rem 2.4rem;
      border-radius: 5rem;
    }
  }
  & .select-section > option {
    background-color: #080509;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.6rem 2.4rem;
    border-radius: 5rem;
    margin-top: 1rem;
  }

  & .sort-btn {
    width: 100%;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
  }
  & .select-sort {
    margin-top: 1.6rem;
  }
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .section-searchFilter {
    flex-direction: column;
    align-items: stretch;
  }
  .sort-btn {
    width: 10rem;
  }
  & input,
  & .select-section {
    width: 100%;
    margin-bottom: 1rem;
  }

  & button:last-child {
    margin-bottom: 0;
  }
}

/* Media Query for extra-small screens */
@media (max-width: 480px) {
  .hero-section .container {
    margin: 0;
  }
  .container .banner-image {
    width: 100%;
  }
  .section-searchFilter {
    gap: 0.5rem;
  }

  & input,
  & .select-section {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
  }
  input {
    max-width: 340px;
    margin: 0px 10px 0px 10px;
  }
  .copyright-text p {
    text-align: center;
  }
  .footer-menu ul li {
    margin: 0;
  }
  .footer-menu ul {
    justify-content: space-evenly;
  }
}

::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
}

/* ------------------ 
contact us page 
--------------- */

.section-contact {
  margin: 9.6rem auto;

  & hr {
    border-color: rgba(255, 255, 255, 0.6);
  }
}
.contact-wrapper {
  display: flex;
  justify-content: center;

  & form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
    max-width: 48rem;

    /* & input,
    & textarea {
      font-family: "urbanist";
      background-color: #000;
      font-size: 1.6rem;
      color: #fff;
      outline: none;
      border: 0.1rem solid rgba(255, 255, 255, 0.4);
      padding: 1.2rem 1.6rem;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
    } */
  }
}

/* ----------------
contact us Page ends here 
--------------------- */

@media screen and (max-width: 1320px) {
  .grid-four-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .country-card {
    padding: 0px 20px;
  }
  .container {
    max-width: 90rem;
  }
}

@media screen and (max-width: 980px) {
  .grid-four-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    max-width: 60rem;
  }
}

@media screen and (max-width: 760px) {
  .grid-four-cols,
  .grid-three-cols,
  .grid-two-cols {
    grid-template-columns: 1fr;
  }
  .copyright-text:nth-child(1) {
    order: 2;
  }

  .footer-menu:nth-child(2) {
    order: 1;
  }

  .grid--cols {
    grid-template-columns: 1fr;
  }
}

/* //Loader  */
/* HTML: <div class="loader"></div> */
.loader {
  width: 55px;
  aspect-ratio: 1;
  --g1: conic-gradient(from 90deg at top 3px left 3px, #0000 90deg, #fff 0);
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #0000 90deg,
    #fff 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g1), var(--g2), var(--g2),
    var(--g2), var(--g2);
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l11 1.5s infinite;
}
@keyframes l11 {
  0% {
    background-size: 35px 15px, 15px 15px, 15px 35px, 35px 35px;
  }
  25% {
    background-size: 35px 35px, 15px 35px, 15px 15px, 35px 15px;
  }
  50% {
    background-size: 15px 35px, 35px 35px, 35px 15px, 15px 15px;
  }
  75% {
    background-size: 15px 15px, 35px 15px, 35px 35px, 15px 35px;
  }
  100% {
    background-size: 35px 15px, 15px 15px, 15px 35px, 35px 35px;
  }
}

/* .loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
} */

.loader-section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
